body{margin:0 auto;padding:0;font:normal 12px arial,helvetica;background:#aaa;text-align:left;}
.regnTitle{font:normal 12px arial,helvetica;padding:0 0 0 5px;font-weight:bold;}
.regnText{font:normal 12px arial,helvetica;padding:0 0 0 5px;font-weight:bold;}
table.main{background:#fff;text-align:left;border-style: solid;border-width: 2px;}
.banner{background:url(images/banner.jpg) left top no-repeat;}
.nav{height:23px;color:#fff;}

.leftTop{background:url(images/bgLeftTop.gif) left top no-repeat;}
.text1{margin-left:7px;font:normal 12px arial,helvetica;}
.leftNav{background:url(images/bgLeftNav.gif) left top repeat-y;}
.packagesTitle{background:url(images/bgPackages.jpg) left top no-repeat;height:20px;font:bold 14px arial;color:#fff;}
.inputs{border:1px solid #666;}

.ht5px{height:5px;font-size:10%}
.ht10px{height:10px;font-size:10%}
.blueText{color:#0000FF;}


.tblListing td{font-size:11px;font-family:verdana,arial,helvetica,sans-serif;}
.regcontent {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000;font-weight:normal }
.boxlinks {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000;; font-weight:normal }
.headermenulinks {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #E8E8E8;}
.regheader {font:bold 11px verdana,arial,helvetica,sans-serif;color:#fff;}
.regmainheader{font-size:14px;font-family:verdana,arial,helvetica,sans-serif;color:#000;}
.regrows{padding:10px;}
.input-box{font:normal 10px arial,helvetica,sans-serif;color:#000;}

.button {font:bold 9px verdana,arial,helvetica,sans-serif;color:#fff;padding:0 0 0 5px;
		background: #F2A902;text-align:left;border: #777788 solid 1px}

.tabstext{font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-weight:bold}
.eventtitle{font:bold 10px arial,helvetica,sans-serif;color:#02B0F0}
.style4 {font-size: 4px;color: #FFFFFF;}
.padLt5{padding:0 0 0 5px;}
.black{color:#000;}
.white{color:#fff;}
.bold{font-weight:bold;}
.currentPage{color:#0096f5;}
.footer{font:normal 10px arial,helvetica;padding:2px 2px 10px 2px;}
.heading14 {font-size:14px;}
.altrow{background:#f1efee;}
.welcome{font:bold 11px tahoma,arial,helvetica,sans-serif;color:#000;text-align:center;}
a.black:link,a.black:visited{color:black;}
a.black:hover,a.black:active{color:#c00;}
.gridHeader{background:#737270;font:11px verdana,arial,helvetica,sans-serif;}
.grid td{font-size:11px;font-family:verdana,arial,helvetica,sans-serif;}
.bodyText12{font-size:12px;font-family:arial,helvetica,sans-serif;}
.cellText11{font-size:11px;font-family:verdana,arial,helvetica,sans-serif;}
.asterisk{color:#f00;font-size:14px;}
