.ddm1 {
    font: 11px Tahoma;
}
.ddm1 .item1,
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
    padding: 3px 8px 4px 8px;
    border: 0px #F5C328;
    border-style: none;
    text-decoration: none;
    display: block;
    position: relative;
	letter-spacing: 1px;	
}

/* Bar */
.ddm1 table td{background: #E7CD4F;}
.ddm1 .item1 {
    background: #E7CD4F;
    color: #000000;
	letter-spacing: 1px;
}
/* START default page item highlight */
table.ddm1 .tdActive .item1 {
    background: #B08742;
	color: #ffffff;
	letter-spacing: 1px;
}

/* END default page item highlight */
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
    background: #CFA35A;
    color: #ffffff;
	z-index:1000;
}
.ddm1 .item2,
.ddm1 .item2:hover 
{
	padding: 3px 8px 4px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
	letter-spacing: 1px;

}
.ddm1 .item2 {
    background:#E7CD4F;
    color: #000000;
	letter-spacing: 1px;
	width:170px;
}

/* Mouse over background */

.ddm1 .item2:hover {   
    color: #ffffff;
	letter-spacing: 1px;
	background: #B08742 url(images/arrow2.jpg) no-repeat fixed 4px;

}
.ddm1 .section {
    border: 1px #F5C328;
    border-style: solid solid solid solid;
    background:#E7CD4F;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    white-space: nowrap;

}
.ddm1 .left, .ddm1 .left:hover { border-style: solid none solid solid; }
.ddm1 .right, .ddm1 .right:hover { border-style: solid solid solid none; }



* html .ddm1 td { position: relative; } /* ie 5.0 fix */