<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Graffiti by SonetReach</title>
    <link rel="stylesheet" type="text/css" href="CSS/PFstyle.css" />
</head>
<body id="businesswrapper">
    <div class="right">
        <ul>
            <li>
                <img class="dynamic" src="images/SNR_facebook.png" /></li>
            <li>
                <img class="dynamic" src="images/SNR_recommend.png" /></li>
            <li>
                <img class="dynamic" src="images/fb-like-button.png" /></li>
            <li>
                <img class="dynamic" src="images/SNR_twitter.png" /></li>
        </ul>
    </div>
    <div class="businessimagediv">
        <img align="middle" src="images/sucess_business.jpg" class="businessimage" border="0" />
    </div>
</body>
</html>
