<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Real Estate by SonetReach</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
<link href="css/realestate_styles.css" rel="stylesheet" type="text/css" />  
   <script type="text/javascript" src="../FabrikFactory/js/menu.js"></script>
    
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page1">
<div id="header">
	<div id="logo">
		<h1><a href="#">Real Estate</a></h1>
	</div>
	<div id="menu">
		<ul style="padding:50px 20px 0px 0px;" >
			<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
			<li><a href="#" accesskey="2" title="">Our Clients</a></li>
			
			
                  <li style="padding-left:10px;"><img class="dynamic" src="images/SNR_facebook.png" /></li>&nbsp;
                <li style="padding-left:10px;">
                   <img class="dynamic" src="images/SNR_recommend.png" /></li>&nbsp;
                <li style="padding-left:10px;">
                    <img class="dynamic" src="images/fb-like-button.png" /></li>&nbsp;&nbsp;&nbsp;
                          <li style="position: relative; top: 0px;">
                        <img class="dynamic" src="images/SNR_twitter.png" /></li>
                    </ul>

	

	</div>
</div>
<div id="banner-wrapper" >
	<div id="banner"">	
	<div id="bannerlay">
        <img src="images/RealEstateBanner1.jpg" class="banner" width="920" border="0"/></div>
	</div>
</div>
<div id="page-wrapper">
	<div id="page">
		<div id="content">
			<div>
				<h2><a href="#">Nulla luctus eleifend</a></h2>
				<br />
				<p><a href="#">This is <strong>OpenHouse </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org">FCT</a>.      The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</a> </p>
				<a href="#" class="button-style">More Details</a>
			</div>
		</div>
		<div id="sidebar">
			<h2><a href="#">Maecenas  lectus</a></h2>
			<ul class="style1">
				<li class="first">
					<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum congue.</a></p>
				</li>
				<li>
					<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum congue.</a></p>
				</li>
				<li>
					<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum congue.</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="footer-wrapper">
	<div id="footer-content">
		<div id="fbox1">
			<h2><a href="#"><span>Aenean elementum</span> facilisis</a></h2>
			<p><img src="images/house.jpg" class="subimages1" width="255" height="250" /></p>
			<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. 
			Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, 
			elementum congue, nibh. Suspendisse dictum porta lectus placerat odio.</a></p>
			<a href="#" class="button-style">More Details</a>
		</div>
		<div id="fbox2">
			<h2><a href="#"><span>Praesent mattis </span> condimentum</a></h2>
			<p><img src="images/villas1.jpg" class="subimages2" width="255" height="250"/></p>
			<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. 
			Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. 
			Suspendisse dictum porta lectus placerat odio.</a></p>
			<a href="#" class="button-style">More Details</a>
		</div>
		<div id="fbox3">
			<h2><a href="#"><span>Integer gravida</span> volutpat</a></h2>
			<p><img src="images/villas2.jpg" class="subimages3" width="255" height="250" /></p>
			<p><a href="#">Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. 
			Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta 
			lectus placerat odio.</a></p>
			<a href="#" class="button-style">More Details</a>
		</div>
	</div>
</div>
<div id="footer">
	<p>&nbsp;</p>
</div>
</body>
</html>
