/*--------- slider ---------*/
#slide
{
    position: relative;
    overflow: hidden;
    width: 1264px;
    margin: 0 auto;
    z-index: 2;
    display: block;
}

.slider
{
    width: 1264px;
    height: 597px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.items
{
    display: none;
}

.pagination
{
    display: none;
}

.prev
{
    position: absolute;
    background: url(../images/prev.png) 0 0 no-repeat;
    width: 82px;
    height: 82px;
    left: 25px;
    top: 222px;
    z-index: 99;
}
.prev:hover
{
    background-position: 0 bottom;
}
.next
{
    position: absolute;
    background: url(../images/next.png) 0 0 no-repeat;
    width: 82px;
    height: 82px;
    right: 25px;
    top: 223px;
    z-index: 99;
}
.next:hover
{
    background-position: 0 bottom;
}

.banner
{
    display: none;
}



/*
 .prev 
 {
     display: block;
 }
 .next
 {
        display: block;
 }
.itemsImage
{
    display: none;
}
*/
.prev
{
    display: none;
}
.next
{
    display: none;
}
.itemsImage
{
    display: block;
    height: 597px;
}

.itemsLogo
{
    height: 121px;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/*------------------------------------------------ */
/* Tablet & Small Monitor - 768px to 960px */
/* Design for a width of 768px */
/*------------------------------------------------ */
@media screen and (max-width: 960px)
{
    .slider
    {
        width: 768px;
        display: none;
    }



    .prev
    {
        display: none;
    }
    .next
    {
        display: none;
    }
    .itemsImage
    {
        display: block;
        height: 363px;
    }
    .itemsLogo
    {
        height: 91px;
    }
}
/*------------------------------------------------ */
/* Mobile (Landscape) - 480px to 768px */
/* Design for a width of 480px */
/*------------------------------------------------ */
@media only screen and (max-width: 767px)
{

    .itemsImage
    {
        display: block;
        height: 227px;
    }
    .itemsLogo
    {
        height: 65px;
    }
}

/*------------------------------------------------ */
/* Mobile (Portrait) - 320px to 480px */
/* Design for a width of 320px */
/*------------------------------------------------ */
@media only screen and (max-width: 479px)
{
    .itemsImage
    {
        display: block;
        height: 151px;
    }
    .itemsLogo
    {
        height: 47px;
    }
}
