html, body, div, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, ins, kbd, q, samp,small, 
strong, sub, sup, var,b, i,dl, dt, dd,fieldset, form, label, legend,
caption, tbody, tfoot, thead
{ 
margin:0px;padding:0px;border:0;
  }
*{ }
.clr {clear:both;}
a {text-decoration:none;}
a:hover { text-decoration:none;}
p { padding:0px;margin:0px;}
ul { padding-top:0px;margin-top:0px;}

body{font-family:"Lucida Grande","Lucida Sans Unicode","Helve tica","Arial,Verdana","sans-serif";  
font-size:13px; line-height:20px;color:#333333; text-align:left; padding:0px; margin:0px; background:url('../images/body_bg.jpg');
background-color:#fff; background-repeat:repeat-x; background-position:top;}
 
@font-face 
{
font-family: 'LucidaGrande' 'LucidaGrandeBold';
src: url('../fonts/LucidaGrande.ttf')format('truetype');
src: url('../fonts/LucidaGrandeBold.ttf')format('truetype');
font-weight: normal;
font-style: normal;
}

.wrapper{margin:0 auto;  width:1000px; padding:0px; margin-top:0px;}
.logo {width:159px; height:28px;}
.logopanel { float:left; text-align:left; width:300px;margin:20px 0 6px 0px;}
.dynamic{}
.clr {clear:both;}

.menubg { background:url('../images/menu_bg.jpg');background-color:#000; background-repeat:repeat-x; }
.left_content { padding:7px; border:0px solid #000;border-radius:5px;}
.left_content ul { padding:0px; margin:0px;}
.left_content ul li  {padding:0px 0 0 15px; margin:0px; list-style-type:none; display:block;
          background:url('../images/arrow.png'); background-repeat:no-repeat; background-position:7px 9px; }
          
.left_content ul li  a{ color:#000; padding:3px 0 3px 0px; margin:0px; display:block;} 
.left_content ul li  a:hover{ color:#985d33;}
.headinglist { color:#bc0601; font-weight:bold; font-size:14px; text-decoration:underline; padding:10px 0 0 0px;}


.leftlist { float:left; text-align:left; width:208px;  background-repeat:repeat-y;
background-color:#fff; }
.frameb { float:left; text-align:left;height: 632px; text-align: left; margin-top:20px;    width: 792px;}

.bannercontent { flot:left;  top:260px; padding:0 0 0 40px; border:0px solid #000000; width:260px; height:350px;}
.youtube {float:right; width:240px;border:1px solid #ffffff; margin-top:93px; height:198px;}
.bannerc {float:left; width:300px; position:relative; top:280px; left:40px;}

.rightbannerlayout {float:left; width:241px; background-color:#bc0602;}
.rightbanner {width:241px; height:351px;}



.topbanner { height:93px; width:793px;}
.women {float:left; width:551px; height:552px;}

.tbl { font-size:14px; font-weight:bold; text-decoration:underline;}
.tbl a { font-size:14px; font-weight:bold; text-decoration:underline; color:#000;}
.tbl a:hover { font-size:14px; font-weight:bold; text-decoration:none; color:#bc0601;}


.copy {float:left; padding:0px 0 0 20px;font-size:11px; color:#000; }
.copy:hover{float:left; padding:0px 0 0 20px;font-size:11px; text-decoration:underline; }




.TopNav {float: right;    margin-top: 19px;}
.TopNav ul{margin:0; padding:0px 0 0 0;}
.TopNav ul li{list-style-type:none; float:left; display:inline; text-align:center; padding:0px 0 0 10px; font-size:12px; }
.TopNav ul li a{color:#303030; text-decoration:none;}
.TopNav ul li a:hover{color:#303030; text-decoration:underline;}


.leftpanel {float:left; width:460px; border:0px solid #000000;}
.rightpanel {float:right; width:480px; border:0px solid #000000;text-align:left; }

.read{color:#613d00; text-decoration:underline; font-size:11px;}
.read:hover {color:#ffcd55; text-decoration:underline; font-size:11px;}

.listmembers { padding:0px; margin:0px;}
.listmembers ul {padding:15px 0 0 20px; margin:0px;}
.listmembers ul li 
{
background-image:url('../images/arrow_green.png'); background-position:5px 10px;
color:#293700;
font-weight:bold;
background-repeat:no-repeat;
list-style-type:none;
padding:4px 0px 4px 20px;}

.listmembersnormal { padding:0px; margin:0px;}
.listmembersnormal ul {padding:15px 0 0 20px; margin:0px;}
.listmembersnormal ul li 
{
background-image:url('../images/arrow_green.png'); background-position:2px 10px;
color:#293700;
font-weight:normal;
background-repeat:no-repeat;
list-style-type:none;
padding:4px 0px 4px 20px;
}


.booklist { padding:10px 0 0 30px;}
.booklist ul{padding:0px; margin:0px;}
.booklist ul li { padding:5px 0 5px 0px;}

.picbottom { padding-bottom:10px;}
.animalpanel{float:left; width:320px;padding-top:3px;}
.animalpanelright{float:right; width:135px; padding-top:25px;}
.dotline { background:url('../images/dots.png') repeat-x; margin-top:23px; margin-right:8px;}
.dotline2 { background:url('../images/dots.png') repeat-x; margin:10px 0px 20px 0px; margin-right:8px;}


.footerpanel {padding-top:10px;}
.footerp1{ float:left; width:311px;}
.footerp2{ float:right; width:207px;  margin-right:10px; font-size:11px;}
.footerp3{ float:right; width:164px;  margin-right:10px;font-size:11px;}
.footerp4{ float:right; width:200px;  margin-right:10px; margin-bottom:10px;font-size:11px;}
.email { background-image:url('../images/mail.png'); background-position:left; background-repeat:no-repeat; padding-left:20px; color:#613d00; font-size:11px;}
.phone { background-image:url('../images/phone.png'); background-position:left; background-repeat:no-repeat; padding-left:13px; padding-top:4px;padding-bottom:4px;color:#613d00; font-size:11px;}

.address { background-image:url('../images/address.png'); background-position:left; background-repeat:no-repeat; padding-left:18px; color:#613d00; font-size:11px;padding-top:4px;padding-bottom:4px;}

.socialmedia { background-image:url('../images/socialmedia.png'); background-position:left; background-repeat:no-repeat; padding-left:20px; color:#613d00; font-size:11px;padding-top:6px;padding-bottom:4px;}




.footerlink{color:#151515; text-decoration:underline; font-size:11px;}
.footerlink:hover {text-decoration:none; font-size:11px;}

.readmore{color:#850109; text-decoration:underline; font-size:11px;}
.readmore:hover {text-decoration:none; font-size:11px;}


.blog{color:#850109; text-decoration:underline; font-size:14px;}
.blog:hover {text-decoration:none; font-size:14px;color:#850109;}



.url{color:#2a2a2a; text-decoration:underline; font-size:13px;}
.url:hover {text-decoration:none; font-size:13px; color:#850109;}

.pdflnk{color:#2a2a2a; text-decoration:none; font-size:13px;}
.pdflnk:hover {text-decoration:underline; font-size:13px; color:#850109;}

.bg_inner {background:url('../images/body_subpage.jpg');background-color:#8bb746; background-repeat:no-repeat;}

.leftpanelsubpage { width:633px; float:left; text-align:left; padding-bottom:10px;}
.rightpanelsubpage { width:318px; float:right;text-align:left;padding-bottom:10px; padding-top:48px;}
.newspanel{background-image:url('../images/white_bg.png'); background-repeat:repeat-y; padding:5px 15px 5px 15px;}

.social {padding:20px 45px 30px 0px; margin:0px; float:right;}
.social ul {padding:0px; margin:0px;}
.social ul li {padding:0px; margin:0px;display:inline;}
.social ul li a{ text-decoration:none;padding:0px; margin:0px; border:0px;} 

.socialf { padding-top:8px; margin:0px;}
.socialf ul {padding:0px; margin:0px;}
.socialf ul li {padding:0px; margin:0px; list-style-type:none; display:inline;}

.title { position:relative; left:174px; top:-107px; color:#850109; font-size:14px; font-weight:bold;}
.newscnt {padding-top:0px;margin:0px;}
.select { color:#ffffff; background-color:#bc0601;}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/*------------------------------------------------ */
/* Tablet & Small Monitor - 768px to 960px */
/* Design for a width of 768px */
/*------------------------------------------------ */
@media screen and (max-width: 960px)
{

	body{ overflow-x:hidden	} 
    .wrapper {width:980px;}	
    .topbannerpanel img{width:91%; }
	.womenpanel img{width:391px; }
	.rightbannerlayout{float:left; width:181px;} 
	.rightbannerpanel img {    width: 240px;}
	.bannerImage {height: 228px;}
	.TopNav { float:right; padding-right:169px;}
	.mattblackmenu ul li a { font-size:11px;}	
	.leftlist {
    background-color: #FFFFFF;
    background-repeat: repeat-y;
    float: left;
    text-align: left;
    width: 179px;
	}
	.frameb {
    float: left;
    height: 632px;
    margin-top: 20px;
    text-align: left;
    width: 693px;
}

	
/*------------------------------------------------ */
/* Mobile (Landscape) - 480px to 768px */
/* Design for a width of 480px */
/*------------------------------------------------ */
@media only screen and (max-width: 800px)
{
    body{ overflow-x:hidden; font-size:11px;	} 
    .wrapper {width:800px;}	
    .topbannerpanel img{width:560px;}
	.womenpanel img{width:350px; height:400px; }
	.rightbanner {height:200px;}
	.rightbannerlayout{float:left; width:70px;} 
	.rightbannerpanel img {width: 168px; height:213px;}
	.bannerImage {height: 128px;}
	.TopNav { float:right; margin-right:150px; font-size:11px;}
	.mattblackmenu ul li a {font-size:10px;}
	.mattblackmenu ul li a{padding:5px 7px 5px 7px;}	
	.left_content ul li a {font-size:11px;}
	.headinglist {font-size:11px;}
	.leftlist { float:left; text-align:left; width:179px; background-color:#fff; }
	.womenpanel img {width: 391px;}
}


/*------------------------------------------------ */
/* Mobile (Portrait) - 320px to 480px */
/* Design for a width of 320px */
/*------------------------------------------------ */
@media only screen and (max-width: 600px)
{
    
	.left_content {width:120px;}
	.leftlist {width:120px; float:left;}
	.wrapper {width:600px;}	
    .topbannerpanel img{width:570px;}
	.womenpanel img{width:330px; height:400px; }
	.rightbanner {height:100px;}
	.rightbannerlayout{float:left; width:70px;} 
	.rightbannerpanel img {width: 218px;}
	.bannerImage {height: 128px;}
	.TopNav { float:right; margin-right:300px; font-size:11px;}
	
	.mattblackmenu ul li a{font-size:8px; padding:5px 3px 5px 3px;}	
	.left_content ul li a {font-size:10px;}
	.headinglist {font-size:11px;}  
	.TopNav {display:none;}
	.leftlist {width:200px;display:none;}
	.left_content {padding:2px;display:none;}
	
	
}

@media screen and (min-device-width:768px) and (orientation:portrait),
       screen and (max-device-width:1009px) and (orientation:landscape) {
   body{ overflow-x:hidden	} 
    .wrapper {width:980px;}	
    .topbannerpanel img{width:91%; }
	.womenpanel img{width:391px; }
	.rightbannerlayout{float:left; width:181px;} 
	.rightbannerpanel img {width: 240px;}
	.bannerImage {height: 228px;}
	.TopNav { float:right; padding-right:169px;}
	.mattblackmenu  li a { font-size:11px;}	
	.leftlist {
    background-color: #FFFFFF;
    background-repeat: repeat-y;
    float: left;
    text-align: left;
    width: 179px;
	}
	.frameb {
    float: left;
    height: 632px;
    margin-top: 20px;
    text-align: left;
    width: 693px;}
}

.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
margin: 0;
padding: 0;
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
visibility: hidden;
z-index: 1000;
}

.ddsubmenustyle ul{
margin-top:-3px;
padding: 0;
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

}

.ddsubmenustyle li a{
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
display: block;
width: 220px; /*width of menu (not including side paddings)*/
color:#232323;
background-color:#e7e7e7;
text-decoration: none;
padding: 8px 1px 8px 10px;
border-bottom: 1px solid white;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width:300px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
background-color: #ffffff;
color: #232323;
}
/* ######### Sub sub tab Starts CSS  ######### */
.ddsubsubmenustyle, .ddsubsubmenustyle div{ /*topmost and sub sub DIVs, respectively*/
margin: 0;
padding:0px 0 0 0px;
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
visibility: hidden;
z-index: 1000;
border-left:1px solid #ffffff;
border-bottom:1px solid #cccccc;
}

.ddsubsubmenustyle ul{
margin-top:30px;
padding: 0;
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

}

.ddsubsubmenustyle li a{
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
display: block;
width: 250px; /*width of menu (not including side paddings)*/
color:#232323;
background-color:#e7e7e7;
text-decoration: none;
padding: 8px 1px 8px 10px;
border-bottom: 1px solid white;
}

* html .ddsubsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width:300px; /*width of menu (include side paddings of LI A*/
}

.ddsubsubmenustyle li a:hover{
background-color: #ffffff;
color: #232323;
}


/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.ddiframeshim{
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}

/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu 
{
position:relative; top:2px;
}


.mattblackmenu ul{
margin: 0;
padding: 0;
font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
list-style-type: none;
overflow: hidden;
width: 100%;  
}


.mainimg {
    height: 299px;
    width: 531px;
}

.mattblackmenu li{
display: inline;
margin:0px;
padding:0px;
}

.mattblackmenu li a{
color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    font-size: 9px;
    font-weight: bold;
    margin: 0 1px 0 0;
    padding: 5px 7px;
    text-decoration: none;
}

.mattblackmenu li a:visited 
{


} 
.mattblackmenu li a:hover
{ 
color:#fff; background-color:#585858;
}

.mattblackmenu a.selected
{
background-color:#585858;/*background of tab with "selected" class assigned to its LI */
}

