<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Coupons by SonetReach </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Place your description here" />
    <meta name="keywords" content="put, your, keyword, here" />
    <meta name="author" content="Templates.com - website templates provider" />
    <link href="CSS/CouponsStyle.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            var offset = $("#box").offset();
            var topPadding = 15;
            $(window).scroll(function () {
                if ($(window).scrollTop() > offset.top) {
                    $("#box").stop().animate({
                        marginTop: $(window).scrollTop() - offset.top + topPadding
                    });
                } else {
                    $("#box").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });

        $(document).ready(function () {
            $("#publishToFB").click(function () {
                $("#publishToFB").css('display', 'none');
            });
        });
    </script>
    <!--<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>-->
    <!--    <script src="js/AvantGarde_Bk_BT_400.font.js" type="text/javascript"></script>
    <script src="js/Myriad_Pro_300.font.js" type="text/javascript"></script>
    <script src="js/jcarousellite.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("a.new_window").attr("target", "_blank");

            //carousel
            $(".carousel").jCarouselLite({
                btnNext: ".next",
                btnPrev: ".prev"
            });
        });
		
    </script>-->
    <!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">
	ie_png.fix('.png, .carousel-box .next img, .carousel-box .prev img');
</script>
<link href="ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
    <style type="text/css">
        #header .row-1 .fright ul li #menuIndexpage
        {
            color: White;
        }
    </style>
</head>
<body>
    <div class="tail-top">
        <div id="header" class="common">
            <div class="row-1">
                <div class="fleft">
                    <a href="#">
                        <img src="images/diningdeals.png" alt="" class="LogoImg" /></a></div>
                <div class="fright">
                    <ul>
                        <li>
                            <img class="dynamic" src="images/SNR_facebook.png" /></li>
                        <li>
                            <img class="dynamic" src="images/SNR_recommend.png" /></li>
                        <li>
                            <img class="dynamic" src="images/fb-like-button.png" /></li>
                        <li>
                            <img class="dynamic" src="images/SNR_twitter.png" /></li>
                            <li><img class="dynamic" src="images/SNR_linkedIn.png" /></li>	
                    </ul>
                </div>
            </div>
            <div class="row-2">
                <div class="fleftMain">
                    <img id="imgMain" src="images/SunbirdCoupons.png" width="100%" class="bannerImage" />
                </div>
                <div class="fright">
                    <div class="couponcode">
                        <span>Coupon Code</span>
                    </div>
                    <div class="couponvalue">
                        <span>ABC123</span></div>
                    <br />
                    <br />
                    <div class="couponcode">
                        <span>Valid Till</span>
                    </div>
                    <div class="couponvalue">
                        <span>13th March, 2013</span></div>
                    <br />
                    <br />
                    <div class="ActionImgLinks">
                        <table>
                            <tr>
                                <td class="ActionImgLinksTabletd">
                                    <img class="ActionImg" src="images/email.png">
                                </td>
                                <td>
                                    <img class="ActionImg" src="images/print.png">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- content -->
        <!-- <div id="content">
            <div class="row-1">
                <div class="inside">
                    <div class="container">
                        <div class="aside block">
                            <h3>
                                Our Services</h3>
                            
                            <div class="wrapper">
                                <a href="#" class="link1"><em><b>Learn More</b></em></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="tail-middle">
                <div class="row-2">
                    <div class="inside">
                        <h3>
                            Recent Articles</h3>
                        <div class="carousel-box">
                            <div class="carousel">
                                <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none;
                                    z-index: 1; width: 2844px;">
                                    <li style="overflow: hidden; float: left; width: 288px; height: 315px;">
                                        <div style="background: url(images/boxbg.gif); width: 288px; height: 315px;">
                                            <div style="padding: 0px 20px 0 20px;">
                                                <img src="images/slide-img4.jpg" alt="" style="margin-top: 13px" width="248px" height="134px" />
                                                <div class="inner">
                                                    <h4>
                                                        Business Plans</h4>
                                                    <p style="color: #add343;">
                                                        Here you will find free samples of business plans that will help you to run your
                                                        own business.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="overflow: hidden; float: left; width: 288px; height: 315px;">
                                        <div style="background: url(images/boxbg.gif); width: 288px; height: 315px;">
                                            <div style="padding: 0px 20px 0 20px;">
                                                <img src="images/slide-img5.jpg" alt="" style="margin-top: 13px" width="248px" height="134px" />
                                                <div class="inner">
                                                    <h4>
                                                        About Template</h4>
                                                    <p style="color: #add343;">
                                                        Free 1028X768 Optimized Website Template from <a href="#">TemplateMonster.com!</a>
                                                        We hope that you like this template and will use for your websites.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="overflow: hidden; float: left; width: 288px; height: 315px;">
                                        <div style="background: url(images/boxbg.gif); width: 288px; height: 315px;">
                                            <div style="padding: 0px 20px 0 20px;">
                                                <img src="images/slide-img6.jpg" alt="" style="margin-top: 13px" width="248px" height="134px" />
                                                <div class="inner">
                                                    <h4>
                                                        Useful Information</h4>
                                                    <p style="color: #add343;">
                                                        Read this sample article and learn more about the strategic business planning.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    </div>
    <div id="footer">
        <div class="footer common" id="2">
            <span>Copyright - Type in your name here<br />
                <a rel="nofollow" href="http://www.templatemonster.com/" class="new_window">Website
                    template</a> designed by TemplateMonster.com<br />
                <a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a>
                provided by Templates.com</span>
        </div>
    </div>
</body>
</html>
